/* variaveis do css */
:root {
    /* cores */
    --body-bg-color: #f7bc69; /*#bda583*/
    --btn-color: #8c593b;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* cor ao selecionar texto */
::selection {
    color:#00ff60;
    text-shadow: 0 0 2px #00ff60;
}
  
::-moz-selection {
    color:#00ff60;
    text-shadow: 0 0 2px #00ff60;
}

/* mudancas na pagina inteira */
* {
    cursor: url(https://ani.cursors-4u.net/others/oth-9/oth839.cur), auto;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-bg-color);
    background: linear-gradient(#a48d6a, #e6ceac);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
}

.button {
    align-items: center;
    background-clip: padding-box;
    background-color: #e18a50;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 1.5rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button:hover,
.button:focus {
    background-color: #d9ac84;
}

.button:active {
    background-color: #ca9d75;
}

/* header */
header {
    padding: 1rem;
    display: flex;
}

header a {
    margin: 0 auto;
}

header img {
    width: 100%;
    height: auto;
}